html, body{
  background-color: #292828;
  margin: 0;
  color: #fff;
  padding: 0;
  font-family: 'avenir',monospace;
}

a{
  color: #fec02c!important;
  text-decoration: none;
}

h2, h3, h4{
  width: 100%;
  text-align: center;
  font-weight: 100;
  letter-spacing: 1px;
  color:#fec02c;
  padding: 3px 0;
}

.mainBox{
  display: block;
  width: 100%!important;
  margin-bottom: 130px;
  margin-top: 30px;
}

#donate {
    z-index: 1000;
    margin-bottom: auto;
    border-top: solid 1px #5f5f5f;
    margin-top: 1em;
    /* margin-bottom: 50px; */
    color: #fff!important;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    background-color: #404040;
    /* display: block; */
    position: fixed;
    float: left;
    min-width: 450px;
}

.webdAddress {
  font-size: 0.97em;
}

.labelAddress {
  color: #fec02c!important;
  text-decoration: none;
  margin-right: 0px!important;
}

.minedBlocksList{
  width: 680px;
}


#donate p {
  font-size: 0.8em;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 680px) {
  .webdAddress, .labelAddress {
    font-size: 0.8em;
    overflow-x: auto;
  }
}

@media screen and (max-width: 580px) {
  .pagination-wrapper-last {
    margin: 0 0 10em 0!important;
  }
  #donate p {
    font-size: 0.6em;
  }
}


#app{
  width: 100% !important;
}

#website-name {
  width: 100%;
  text-align: center;
  font-weight: 100;
  letter-spacing: 2px;
  color:#fec02c;
  padding: 20px 0;
}

#contribute {
  float: left;
  width: 100%;
}

.table-wrap {
  width: 100%;
  display: block;
  position: relative;
}

table{
  margin: 0 auto;
  width: 100%;
}

table th, table tr {
  text-align: left;
}
table thead {
  background: #f2f2f2;
}

table tr td {
  vertical-align: top;
  padding: 10px;
}

table tr:hover{
  background-color: #494c4e !important;
  transition: 0.5s ease
}

table tr{
  background-color: #2d2d2d;
  transition: 0.5s ease
}

table tr:nth-child(odd) {
  background: #383838;
}

table tr:nth-child(1) {
  background: #fec02c!important;
  color: #000;
}

table a {
  color: #fff!important;
  text-decoration: none;
  transition: 0.5s ease
}

table a:hover {
  color: #fec02c!important;
  text-decoration: none;
  transition: 0.5s ease
}

a.add_post_link {
  background: #4d7ef7;
  color: #fff;
  padding: 10px 80px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.tableRow{
  color:#fff
}

.spinner {
  width: 140px;
  height: 140px;
  position: relative;
  margin: 100px auto;
}


.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fec02c;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 1.5s infinite ease-in-out;
  animation: sk-bounce 1.5s infinite ease-in-out;
}

#loader{
  width: 100px;
  margin: 0 auto;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

.webdollar-explorer-link{
  font-size: 24px;
  line-height: 70px;
  padding: 0!important;
  margin-left: 6px;
  float: left;
}

#header{
  height: 70px;
  border-bottom: solid 1px #fec02c;
  width: 100%;
  min-width: 680px;
  background: rgba(0,0,0,1);
  background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(41,40,40,1) 50%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(50%, rgba(41,40,40,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(41,40,40,1) 50%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(41,40,40,1) 50%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(41,40,40,1) 50%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(41,40,40,1) 50%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

#logo{
  width: 50px;
  padding: 12px;
  cursor: pointer;
}

.minerTable{
  border:solid 1px #5f5f5f;
  text-align: left;
  width: 680px;
  padding: 0 0 10px 0;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  background-color: #2d2d2d;
}

.transactionsWrapper {
  text-align: left;
  width: 680px;
  padding: 0 0 10px 0;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  background-color: #2d2d2d;
  font-size: small;
}


.minerTable div{
  display: grid;
  grid-template-columns: 250px 1fr;
  padding: 5px 10px;
}

.minerTable div span:first-child{
  background-color: #383838;
  margin-right: 10px;
  padding: 5px 10px;
}

.minerTable div span:nth-child(2){
  background-color: #292929;
  padding: 5px 10px;
}

.logoLink{
  float:left;
  margin-top: -5px;
}

#search_wrapper{
  float:right;
  width: auto;
  padding: 18px 10px 12px 11px;
}

#search_wrapper button{
  padding: 3px 6px 3px 6px;
  height: 35px;
  width: 41px;
  border:0px;
  cursor:pointer;
  margin-left: -3px;
  margin-top: 0px;
  float:left;
  outline: none;
  background: #fec02c;
  color: #020202;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.5s ease;
}

#search_wrapper button:hover{
  background: #fef58f;
  transition: 0.5s ease;
}

#search_wrapper input{
  float:left;
  width: 200px;
  height: 31px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 10px;
  border: solid 1px #a0a0a0;
  background-color: #fff;
  outline: none;
  color: #000;
  transition: all 0.5s ease;
}

#search_wrapper input:focus{
  background-color: #fff;
  border-color:#fec02c;
  transition: all 0.5s ease;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #5f5f5f;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #5f5f5f;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #5f5f5f;
}
:-moz-placeholder { /* Firefox 18- */
  color: #5f5f5f;
}

.webdollar-explorer-link {
  font-size: 20px;
  padding-top: 18px;
  float: left;
}

#status_wrapper {
  float:left;
  position: relative;
  color: #fff;
  padding-top: 10px;
  padding-left: 5px;
}

.synced {
  color: #00c000;
}

.syncing {
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: 1000;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {color: red;}
    25%  {color: #fec02c;}
    50%   {color: red;}
    100%  {color: #fec02c;}
}

/* Standard syntax */
@keyframes example {
    0%   {color: red;}
    25%  {color: #fec02c;}
    50%  {color: red;}
    100% {color: #fec02c;}
}

#menu{
  z-index: 1000;
  display: block;
  position: relative;
  float:right
}

#menu a{
  display: block;
  transition: all 0.5s ease;
}

#menu a div:hover{
  background-color: #ffda81;
  transition: all 0.5s ease;
}

#menu a div{
  padding: 10px 0;
  text-align: center;
  color:#000;
  transition: all 0.5s ease;
}

.dropDown{
  display: none;
}

.transactionsTable tr {
  vertical-align:top;
}

.fromColor, .fromColor a{
  color: #35b151!important;
}

.toColor, .toColor a{
  color: #da6654!important;
}

.poolTransactions {
  max-height: 10em;
  max-width: 18em;
  overflow-y: auto;
  font-size: 1em;
  font-family: monospace;
}
.poolTransactions span {
  padding-right: 20px;
  font-size: 1em;
  font-family: monospace;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fec02c;
    border-radius: 5px;
}

.poolsTable {
  width: 680px;
}

.fameTable {
  width: 680px;
}

.genesisChanged, .downPool {
  color:#da6654!important;
}

.genesisUnchanged, .upPool {
  color:#35b151!important;
}

.block-pos {
  color: #fec02c!important;
}

.block-pow {
  color: #00c000!important;
}
.vue-slider-component .vue-slider-process {
    border: 1px solid #fec02c!important;
    background-color: #fec02c!important;
}

.vue-slider-component .vue-slider-tooltip {
    border: 1px solid #00c000!important;
    background-color: #00c000!important;
}

.vue-slider-component .vue-slider-piecewise-dot {
  background-color: #00c02c!important;
  width: 12px!important;
  height: 12px!important;
}

.vue-slider-component .vue-slider-tooltip-top .vue-merged-tooltip .vue-slider-tooltip:before, .vue-slider-component .vue-slider-tooltip-wrap.vue-slider-tooltip-top .vue-slider-tooltip:before {
  margin-left: -30px;
}
.vue-slider-component .vue-slider-tooltip-wrap.vue-slider-tooltip-top {
  margin-left: 30px
}
.vue-slider-component .vue-slider-tooltip-wrap.vue-slider-tooltip-bottom {
  margin-left: -30px
}

.vue-slider-component .vue-slider-tooltip-bottom .vue-merged-tooltip .vue-slider-tooltip:before, .vue-slider-component .vue-slider-tooltip-wrap.vue-slider-tooltip-bottom .vue-slider-tooltip:before {
  margin-left: 30px;
}

.pagination-wrapper-last, .pagination-wrapper-first {
  margin: 0;
}

.pagination-wrapper {
  display: flex;
  justify-content: center!important;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
}

.pagination-wrapper li {
  padding: .5rem .75rem;
}

.pagination-wrapper li:hover,
.pagination-wrapper li:focus {
  text-decoration: none;
}

.active > a {
  text-decoration: underline;
  cursor: none;
  color: #00c000!important;
}

  .result{
    display: block;
    padding: 10px 0;
  }

  .blockContainer{
    border:solid 1px #5f5f5f;
    text-align: center;
    width: 600px;
    margin: 0 auto;
  }

  .title{
    border-bottom:solid 1px #5f5f5f;
  }

  .textTitle{
    width: 100%;
    background-color: #3a3a3a;
    box-sizing: border-box;
    padding: 10px 0;
    display: block;
  }
  .webdToday {
    background-color:inherit!important;
  }
  .webdToday span:nth-child(2n) {
    color: #fec02c;
    display: inline-block;
    float: left;
    width: 55px;
    word-spacing: 1px;
    text-align: left;
  }
  .webdToday span:nth-child(2n+1) {
    margin-top: 15px;
    width: 110px;
    color: #fff;
    word-spacing: 1px;
    display: inline-block;
    float: left;
    text-align: left;
  }
